body {
    height: 100%;
    margin: 10px;
    background-color: #F9F2F9;
    opacity:1;
    border:20px;
    font-family: 'Merriweather', serif;
}
.main-div {
    padding: 2% 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.title-div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 50px;
    color:#4C2347;
    margin:10px 3px;
}
h2 {
    font-size: 40px;
    color:#72356A;
    margin:10px 3px;

}
.paragraph {
    padding:2% 5%;
    line-height: 160%;
    font-size:17px;
    font-family: 'Merriweather', serif;
    text-align: justify;
}
.buttons-div {
    display:flex;
    flex-direction: column;
}
.central-div {
    display: flex;
    margin-top: 2%;
}

.video-container {
    flex-basis: 70%;
    display:flex;
    justify-content: space-evenly;
}
.buttons-div {
    width:40%;
}
.button-family {
    display: flex;
    padding:3%;
    justify-content: space-evenly;
}
.button-family h3 {
    align-self: start;
    background-color: #4C2347;
    padding:2%;
    color:#F4CEAD;
    border:2px solid #F4CEAD;
}
.radiobtn {
    padding:1%;
    width:10em;
    display:flex;
    align-items: center;
}
.go {
    padding:1%;
    display:flex;
    justify-content: center;
}
.go-button {
    text-align:center;
    background-color: #4C2347;
    padding:2%;
    color:#F4CEAD;
    border:2px solid #F4CEAD;
    font-size:large;
    font-family: 'Montserrat','serif';
}