body {
    height: 100%;
    margin: 10px;
    background-color: #F9F2F9;
    opacity:1;
    border:20px;
    font-family: 'Merriweather', serif;
}

.main-div {
    padding: 2% 5%;
    display:flex;
    flex-direction: column;
}

.title-div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    color:#4C2347;
    margin:10px 3px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 35px;
    color:#72356A;
    margin:10px 3px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.paragraph {
    padding:2% 5%;
    line-height: 160%;
    font-size:17px;
    font-family: 'Merriweather', serif;
}

.map-div {
    display:flex;
    justify-content: center;

}
#map {
    width: 700px;
    height: 550px;
    border:1px solid #4C2347;
}
.haga-click {
    text-align: center;
    margin:2px;
}

.model-info {
    position: sticky;
    top: 0;
    color:#2B3D41;
    width:100%;
    margin:5px;
    /* height:100%; */
    background-color: rgba(255,219,250,1);
    border: 1px solid #4C2347;
    padding:5px;
    display:flex;
    flex-direction: column;
    z-index: 5000;
}
.model-text {
    margin:5px;
}

.buttons-div {
    display:flex;
    justify-content:space-evenly;
    padding:1px;
}

.buttons {
    font-family: 'Montserrat', sans-serif;
    font-size:0.9em;
    color:#F9CAF9;
    background-color: #4C2347;
    border:1px solid #F9CAF9;
    padding:5px;
    font-weight: bold;
}

button:disabled,
button[disabled]{
  border: 1px solid #4C2347;
  background-color: #F9CAF9;
  color: #4C2347;
}

.pModelo {
    height:32px;
    padding:0.5em;
    font-size:14px;
    margin:5px;
}


/* styling info */
.info {
    padding: 8px 10px;
    font-size: 14px;
    background-color: rgba(255,219,250,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #2B1428;
}

/* styling legend */
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background: #e93434;
    color: #ffffff;
    max-width: 800,
}

.map-div {
    display:flex;
    justify-content: center;
    width:auto;
    margin:1px;
}


.info-table {
    border-collapse:collapse;
}

.info-table td {
    padding:4px;
}

.figures {
    display:flex;
    justify-content: center;
}