


/* Header */

#header {
    position: fixed;
    top: 0;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 30px 10px 10px;
    background-color: white;
}

.hamburger-line {
    width: 35px;
    height: 3px;
    margin: 8px 0;
    background-color: #454a46;    
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}

.logo-wrapper img {
    height: 100px;
}

.separador-logo {
    height: 40px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square-bordo {
    background-color: #943125;
    height: 100%;
    width: 50%;
}

@media (min-width: 800px) {
    #header {
        position: static;
        width: 95vw;
    }
    .logo-wrapper {
        height: 120px;
        top: 10px;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero img {
    max-width: 99vw;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 0 0;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #943125;
    max-width: fit-content;
    margin: 0 0 10px 0;
}

.subtitle {
    font-size: 17px;
}

/* Cria */

#cria-links {
    background-image: url('../img/bckg-caballo.png');
    background-repeat: no-repeat;   
    height: 60vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px 0 0 30px;
    font-size: 20px;
}

@media (min-width: 800px) { 
    #cria-links {
        height: 80vh;
        align-items: flex-end;
        padding: 100px 200px 0 0;
        font-size: 20px;
        margin-top: 100px;
    }
}

