@font-face {
    font-family: 'GothamHTF-Medium';
    src: url('../fonts/GothamHTF-Medium.ttf') format('truetype'),
         url('../fonts/GothamHTF-Medium.eot') format('embedded-opentype'),
         url('../fonts/GothamHTF-Medium.otf') format('opentype'),
         url('../fonts/GothamHTF-Medium.woff') format('woff');
}

@font-face {
    font-family: 'GothamHTF-Book';
    src: url('../fonts/GothamHTF-Book.ttf') format('truetype'),
         url('../fonts/GothamHTF-Book.eot') format('embedded-opentype'),
         url('../fonts/GothamHTF-Book.otf') format('opentype'),
         url('../fonts/GothamHTF-Book.woff') format('woff');
}

@font-face {
    font-family: 'GothamHTF-Bold';
    src: url('../fonts/GothamHTF-Bold.ttf') format('truetype'),
         url('../fonts/GothamHTF-Bold.eot') format('embedded-opentype'),
         url('../fonts/GothamHTF-Bold.otf') format('opentype'),
         url('../fonts/GothamHTF-Bold.woff') format('woff');
}

@font-face {
    font-family: 'GothamHTF-Light';
    src: url('../fonts/GothamHTF-Light.ttf') format('truetype'),
         url('../fonts/GothamHTF-Light.eot') format('embedded-opentype'),
         url('../fonts/GothamHTF-Light.otf') format('opentype'),
         url('../fonts/GothamHTF-Light.woff') format('woff');
}

@font-face {
    font-family: 'GothamHTF-Thin';
    src: url('../fonts/GothamHTF-Thin.ttf') format('truetype'),
         url('../fonts/GothamHTF-Thin.eot') format('embedded-opentype'),
         url('../fonts/GothamHTF-Thin.otf') format('opentype'),
         url('../fonts/GothamHTF-Thin.woff') format('woff');
}

* {
    margin: 0;
    font-family: 'GothamHTF-Book', sans-serif;
    /* border: 1px solid red !important; */
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

a {
    text-decoration: none;
    color:inherit;
}

a:focus,
a:active {
    outline: none;
}

/* Mobile Menu */

#mobile-menu {
    transition:all 0.5s ease;
    padding-top: 10px;
    height:75vh;
    width:100vw;
    background-color: #454a46;
    color: white;
    position:fixed;
    top:0;
    left:0;
    display:none;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    z-index:2000;
}

.mobile-menu__close {
    align-self: flex-end;
    padding: 10px 30px 0 0;
    font-size: 25px;
}

.mobile-menu__logo-div img {
    width: 75px;
}

.mobile-menu__item {
    margin: 30px 0;
    text-align: center;
    font-size: 20px;
}

/* Header */

#header {
    position: fixed;
    top: 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px 10px 5px 85vw;
    background-color: white;
    display: block;
    z-index: 1000;
}

.hamburger-line {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background-color: #454a46;    
}

.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 170px;
    position: relative;
    top: 50px;
}

.logo-wrapper img {
    height: 100px;
}

.separador-logo {
    height: 20px;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.square-bordo {
    background-color: #943125;
    height: 100%;
    width: 50%;
}

@media (min-width: 800px) {
    #header {
        position: static;
        width: 95vw;
        display: none;
    }
    .logo-wrapper {
        height: 120px;
        top: 10px;
    }

    .separador-logo {
        height: 30px;
    }
}

/* Hero */

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hero img {
    max-width: 99vw;
}

.hero .img-desktop {
    display: none;
}

.hero .img-mobile {
    display: block;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 0 0;
}

h1 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    color: #943125;
    max-width: fit-content;
    margin: 0 0 5px 0;
}

.subtitle {
    font-size: 20px;
}

@media (min-width: 800px) {
    .hero .img-desktop {
        display: block;
    }
    
    .hero .img-mobile {
        display: none;
    }
}

/* Cria */

#cria-links {
    padding: 30px 0 0 0;
    height: 180px;
    overflow: hidden;
}


.cria-links__links {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 20px 0 0;
    font-size: 12px;
    position: relative;
    top: -190px;
}

.cria-links__img img {
    width: 95vw;
}

#cria-links a {
    border: 1px solid #943125;
    padding: 10px 0;
    margin: 7px 0;
    width: 150px;
    color: #454a46;
    text-decoration: none;
    text-align: center;
}

#cria-links .h2-wrapper {
    margin-bottom: 10px;
    width: 150px;
}

@media (min-width: 800px) { 
    #cria-links {
        padding: 30px 0 0 0;
        height: 450px;
    }

    .cria-links__links {
        align-items: flex-end;
        padding: 10px 200px 0 0;
        font-size: 20px;
        top: -480px;
    }

    #cria-links .h2-wrapper {
        width: 300px;
    }

    #cria-links a {
        width: 300px;
        padding: 12px 0;
        margin: 15px 0;
    }
}

@media (min-width: 900px) { 
    #cria-links {
        height: 500px;
    }
}

@media (min-width: 1000px) { 
    #cria-links {
        height: 550px;
    }
}

@media (min-width: 1050px) { 
    #cria-links {
        height: 600px;
    }
}

@media (min-width: 1150px) { 
    #cria-links {
        height: 630px;
    }
}
/* Menu links */



.menu-links {
    display: none;
}

@media (min-width: 800px) {
    .menu-links {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        padding: 30px 7vw;
        background-color: #454a46;
        font-family: 'GothamHTF-Bold';
    }

    .menu-links a {
        color: white;
        text-decoration: none;
        font-size: 25px;
        margin: 0 30px;
    }

    .link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .link-numero {
        font-size: 70px;
        text-align: center;
        font-family: 'GothamHTF-Light'
    }
    
    .link-nombre {
        font-weight: 100;
        width: 150px;
        text-align: center;
        font-size: 18px; 
        margin-top: 20px;  
    }
    
    .h2-wrapper {
        display:flex;
        flex-direction: row;
        justify-content: center;
        width:200px;
        text-align: center;
        margin-bottom: 30px;
    }
}

/* Pilar */

.pilar__caballos-bckg {
    background-image: url('../img/bckg-Pilar2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    margin: 0px;    
}

@media (min-width: 800px) { 
    .pilar__caballos-bckg {
        background-size: cover;
        height: 80vh;
        background-position: center;
        margin: -1px; 
    }

}

.separador-trapecio {
    background-color: #943125;
    padding: 20px;
    width: 50%;
    position:relative;
    bottom: 30px;
    color: white;
    text-align: center;  
    letter-spacing: 15px; 
    margin: auto;
    transform: skew(-40deg);
    position: relative;
    top: -2em;
}

.pilar__title {
    transform: skew(40deg);
}

/*  articulo */

.pilar__articulo {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pilar__articulo p {
    margin:20px auto;
    padding: 0;
    text-align: justify;
    width: 80vw;

}

.pilar__articulo a {
    color: #943125;
}

.pilar__articulo h3 > span {
    color: #943125;
}

.pilar__articulo h3 {
    margin-top: 20px;
}

.pilar__img-div {
    margin-top: 30px;
}

@media (min-width: 800px) { 
    .pilar__articulo {
        flex-direction:row;
        justify-content: center;
        align-items: center;
        padding: 0 120px;
    }
    
    .pilar__articulo p {
        margin:20px 0;
        padding: 0 200px 0 0;
        text-align: justify;
        width: 50vw;
    }

    .pilar__img-div {
        margin-top: 0;
    }
}
/* centro */

#pilar__centro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0 40px 0;
}

#pilar__centro h2 {
    color: #454a46;
    font-size: 90px;
    align-self: flex-end;
    padding: 10px 10px;
    font-family: 'GothamHTF-Light';
}

.pilar__centro-img-div {
    display: flex;
    justify-content: center;
}

.pilar__centro-img-div img {
    max-width: 99vw;
}

#pilar__centro h3 {
    background-color: #454a46;
    color: white;
    padding: 12px 0;
    width: 80vw;
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
}

.square-gris {
    background-color:#454a46;
    height: 30px;
    width: 80vw;
}

.pilar__texto h3 {
    text-align: center;
    font-family: 'GothamHTF-Light';
}

.pilar__texto h3 span {
    display: block;
}

@media (min-width: 800px) {
    #pilar__centro {
        margin-top: 5px;
        align-items: flex-start;
        padding-left: 15vw;
    }

    #pilar__centro h3 {
        width: 600px;
        line-height: 25px;
        padding: 22px 0;
    }

    .square-gris {
        width: 600px;
    }

    .pilar__centro-img-div {
        position: relative;
        left: -50px;
    }

    .pilar__texto h3 {
        text-align: left;
    }

    .pilar__texto h3 span {
        display: inline;
    }   
}

@media (min-width: 1200px) {
    #pilar__centro h2 {
        color: #454a46;
        font-size: 90px;
        position: relative;
        top: 70px;
        align-self: flex-end;
        margin-right: 25vw;
    }
}

/* Venta */

#venta {
    background-image: url('../img/bckg-caballos-BW.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 100px 0;
    text-align: center;
}

#venta h2 {
    background-color: rgba(255,255,255,0.5);
    color: black;
    margin: auto;
    padding: 20px 0;
    width: 90vw;
    letter-spacing: 10px;
    font-size: 30px;
}

@media (min-width: 800px) {
    #venta {
        height: 90vh;
    }
    #venta h2 {
        width: 50vw;
    }

}

/* Los Mac */

#los-mac {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 20px 0;
    padding: 0 10vw;
}

#los-mac h2 {    
    color: #454a46;
    font-size: 70px;
    margin: 5px 0 0 0;
    text-align: center; 
    font-family: 'GothamHTF-Light';
}

#los-mac h3 {    
    color: #454a46;
    font-size: 40px;
    margin: 10px 0 0 0;
    text-align: center; 
}

#los-mac h4 {
    color: #943125;
    font-size: 27px;
}

#los-mac h5 {
    color: #454a46;
    font-size: 20px;
    margin: 10px 0 10px 0;
}

.los-mac__articulo {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.los-mac__text {
    order: 1;
    margin-top: 15px;
}

.los-mac__img-div {
    margin-top: 10px;
    order: 0;
}

.los-mac__text p {
    margin-bottom: 30px;
    text-align: justify;
}

@media (min-width: 800px) {
    #los-mac {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 100px 80px 40px 80px;
    }

    #los-mac h2 {    
        color: #454a46;
        font-size: 100px;
        margin: 5px 0 0 0;
        text-align: center; 
    }

    #los-mac h3 {    
        font-size: 47px;
        margin: 50px 0 0 0; 
    }

    #los-mac h4 {
        font-size: 40px;
        text-align: justify;
    }

    #los-mac h5 {
        font-size: 25px;
        margin: 40px 0 0 0;
        text-align: justify;
    }

    #los-mac p {
        margin:20px 0px;
        padding: 0 20px 0 0;
        text-align: justify;
        color: #454a46;
        width: 46vw;
    }

    .los-mac__articulo {
        display: flex;
        flex-direction: row;
        margin: 45px 50px;
        justify-content: center;
    }

    .los-mac__text {
        order: 2;
    }

    .los-mac__text p {
        margin-bottom: 0;
        width: 500px;
    }

    .los-mac__img-div {
        order: 1;
        margin: 10px 60px;
    }

}

/* Mapas y footer  */

.mapas__title {
    text-align: center;
    font-size: 30px;
    color: #454a46;
    font-size: 35px;
    text-align: center; 
}

.mapas {
    display:flex; 
    flex-direction: column;
    height: 80vh;
    margin-top: 20px;  
}

.mapas__select-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.mapas__select-button {
    padding: 10px 20px;
    border: 1px solid #943125;
}

.mapas__button-active {
    color: white;
    background-color: #943125;
    padding: 10px 20px;
}

.mapas__button-inactive {
    color: #943125;
    background-color: white;
    padding: 10px 20px;
}

.map-container {
    display: flex;
    justify-content: center;       
}

.mapas__container-active {
    display:flex;
    justify-content: center;
}

.mapas__container-inactive {
    display:none;
}

#map-pilar {
    background-color: #454a46;
    width: 100%;
    height: 100%;
}

#map-daireaux {
    background-color: #454a46;
    width: 100%;
    height: 100%;    
}

.map {
    height: 80%;
    width: 90%; 
    position: static;
    padding-bottom: 50px;    
    margin-top: 18px;
}

.map__gray-bckg {
    background-color: #454a46;
}

.map__red-bckg {
    background-color: #943125;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #454a46;
    text-align: center;
    height: 35vh;
    z-index: 1000;
    color: black;
    position: relative;
    padding: 20px 0 20px 0;
    background-color: #454a46;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.mail-tel__active {
    display: flex;
    flex-direction: column;
    order: 1;
}

.mail-tel__inactive {
    display: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 60vw;
    order: 2;
    background-color: white;
    padding: 20px 30px 20px 30px;
    font-size: 15px;
    color: #454a46;
    margin: 10px 0 0 0;
}

.footer-info a {
    color: #454a46;
}

.map iframe {
    width: 100%;
}

@media (min-width: 800px) {
    .mapas__title {
        text-align: center;
        font-size: 30px;
        color: #454a46;
        font-size: 40px;
        text-align: center; 
    }

    .mapas {
        flex-direction: row;
        margin-top: 100px;
        height: 130vh;
    }

    .map-container {
        display:flex;
        justify-content: center;
    }

    .map {
        width: 40vw;
        height: 90vh;
        overflow: hidden;  
        position: relative;
        top: -70px;      
        margin-top: 18px;
    }

    #map-pilar {
        background-color: #454a46;
    }
    
    #map-daireaux {
        background-color: #943125;
    }

    .mapas__select-buttons {
        display: none;
    }

    footer {
        height: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        top: -39vh;
        margin: 0;
        width: 99%;
        background-color: transparent;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        order: 2;
        background-color: white;
        padding: 30px 30px 30px 30px;
        width: 35vw;
        font-size: 22px;
    }

    .footer-info a {
        color: #454a46;
        margin-top: 15px;
    }

    .mail-tel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 32vw;
    }

    .mail-tel a {
        margin-top: 15px;
    }

    #mail-daireaux {
        order: 3;
    }

    .map iframe {
        height: 100%;
    }

}

