body {
    height: 100%;
    margin: 10px;
    background-color: #F9F2F9;
    opacity:1;
    border:20px;
    font-family: 'Merriweather', serif;
}

.main-div {
    padding: 2% 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title-div {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 50px;
    color:#4C2347;
    margin:10px 3px;
}

h2 {
    font-size: 40px;
    color:#72356A;
    margin:10px 3px;

}

.paragraph {
    padding:2% 5%;
    line-height: 160%;
    font-size:17px;
    font-family: 'Merriweather', serif;
    text-align: justify;
}

#ver-detalle {
    padding:0 1%;
}

.buttons-div {
    display:flex;
    margin:1% 1%;
    justify-content: space-evenly;
    padding:1% 1%;
    width:100%;
}

.buttons {
    width:10em;
    font-family: 'Montserrat', sans-serif;
    font-size:1em;
    color:#F9CAF9;
    background-color: #722B6A;
    border:1px solid #F9CAF9;
    padding:10px;
    font-weight: bold;
}

.buttons:disabled {
    filter:grayscale()
}

/* Pendiente:hacerlo responsive */
#map {
    width: 700px;
    height: 570px;
    border:1px solid #4C2347;
    transition: all 500ms ease;
    filter:grayscale(30%);
    
}

#map:hover {
    box-shadow:-10px 10px 30px #4C2347;
    filter:none;
}

/* styling info */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* styling legend */
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}