body{
    padding:0;
    margin:0;
}

#subtitle{
    cursor:pointer;
    padding:1rem;
    background-color: lightgray;
    width:200px;
}

.sections h2{
    font-size:50px;
    padding:1rem;
}

.section-content{
    padding:1rem;
    font-size:20px;
    line-height:25px;
}

#section1{
    background-color: pink;
}

#section2{
    background-color: brown;
}

#section3{
    background-color: coral;
}

.dlbutton {
    padding:1rem;
    color:blue;
    background-color: pink;
    width:200px;
    cursor:pointer;
}